.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}
.box.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
}
.box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1;
}

.overbox .title {
    color: #fff;
}
.overbox .title:before {
    background: #fff;
}

.title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(255, 136, 0);
    position: relative;
}
.title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: rgb(255, 136, 0);
}

.input {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input label,
.input input,
.input .spin {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button button .button.login button i.fa {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button .shape:before,
.material-button .shape:after {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.login button {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
    width: 100%;
    float: left;
}
.input label,
.input input,
.input .spin {
    width: 100%;
    float: left;
}

.button {
    width: 100%;
    float: left;
}
.button button {
    width: 100%;
    float: left;
}

.input,
.button {
    margin-top: 30px;
    height: 70px;
}

.input {
    position: relative;
}
.input input {
    position: relative;
}

.button {
    position: relative;
}
.button button {
    position: relative;
}

.input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}
.input label {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.button button {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.input:before,
.input .spin {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.input .spin {
    background: green;
    z-index: 4;
    width: 0;
}

.overbox .input .spin {
    background: white;
}
.overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
}

.input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 60px;
}

.button {
    margin-top: 20px;
    margin: 40px 0;
    overflow: hidden;
    z-index: 2;
}
.button.login {
    width: 60%;
    left: 20%;
}
.button.login button {
    width: 100%;
    line-height: 64px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
}
.button button {
    width: 100%;
    line-height: 64px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
}
.button.login {
    margin-top: 30px;
}
.button button {
    background-color: #fff;
    color: green;
    border: none;
}
.button.login button.active {
    border: 3px solid transparent;
    color: #fff !important;
}
.button.login button.active span {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
}
.button.login button.active i.fa {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
}
.button.login button i.fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    transform: scale(0) rotate(-45deg);
    -webkit-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
}
.button.login button:hover {
    color: rgb(43, 255, 0);
    border-color: rgb(10, 53, 1);
}
.button button {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

.click-efect {
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    border-radius: 50%;
}

.overbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: inherit;
    border-radius: 10px;
    padding: 60px 50px 40px 50px;
}
.overbox .title,
.overbox .button,
.overbox .input {
    z-index: 111;
    position: relative;
    color: #fff !important;
    display: none;
}
.overbox .title {
    width: 80%;
}
.overbox .input {
    margin-top: 20px;
}
.overbox .input input,
.overbox .input label {
    color: #fff;
}
.overbox .material-button,
.overbox .alt-2 {
    display: block;
}
.overbox .material-button .shape,
.overbox .alt-2 .shape {
    display: block;
}

.material-button,
.alt-2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgb(255, 136, 0);
    position: absolute;
    top: 40px;
    right: -70px;
    cursor: pointer;
    z-index: 100;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
    width: 25px;
    height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
    height: 25px;
    width: 4px;
}

.material-button.active,
.alt-2.active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(0deg);
    -webkit-transform: translate(50%, -50%) rotate(0deg);
    -ms-transform: translate(50%, -50%) rotate(0deg);
}

body {
    /* background-color: #293292; */
    background-image: url("./backgrounds.jpg");
    /* background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.ButtonCss1 {
    width: 100%;
    /* margin-left: 66%;
    margin-right: 100%;
    margin-top: 15.5%; */
    align-items: center;
    position: absolute;
    top: calc(43%);
    left: calc(50% + 260px);
}

.ButtonCss2 {
    width: 100%;
    /* margin-left: 65%;
    margin-right: 100%;
    margin-top: 10px; */
    align-items: center;
    position: absolute;
    top: calc(43% + 50px);
    left: calc(50% + 260px);
}

.ButtonCss3 {
    /* width: 100%;
    margin-left: 65%;
    margin-right: 100%;
    margin-top: 1%; */
    align-items: center;
    position: absolute;
    top: calc(43% + 100px);
    left: calc(50% + 260px);
}

.ButtonCss4 {
    /* width: 100%;
    margin-left: 65%;
    margin-right: 100%;
    margin-top: 1%; */
    align-items: center;
    position: absolute;
    top: calc(43% + 150px);
    left: calc(50% + 260px);
}
.materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

/* CSS */
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding-left: 1.8em;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-35 {
    background-color: #fbd2c2;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,
        rgba(233, 30, 30, 0.15) 0 1px 2px, rgba(187, 44, 75, 0.15) 0 2px 4px,
        rgba(187, 44, 44, 0.15) 0 4px 8px, rgba(187, 44, 68, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-35:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-36 {
    background-color: #c2c6fb;
    border-radius: 100px;
    box-shadow: rgba(66, 26, 243, 0.2) 0 -25px 18px -14px inset,
        rgba(78, 9, 238, 0.15) 0 1px 2px, rgba(24, 2, 146, 0.15) 0 2px 4px,
        rgba(2, 60, 250, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.form__field .icon {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.form__input:valid + .icon::after {
    content: "😃";
}

.form__input:invalid {
    border-color: firebrick;
}

.form__input:invalid + .icon::after {
    content: "😳";
}

h1.elegantshadow {
    color: #131313;
    letter-spacing: 0.15em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
        "AppleGothic", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.btn-lock {
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% + 198px);
    display: inline-block;
    background: #ff5b5b;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    padding: 12px 0 0 18px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.btn-lock svg {
    fill: none;
    transform: translate3d(0, 0, 0);
}
.btn-lock svg .bling {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-dasharray: 3;
    stroke-dashoffset: 15;
    transition: all 0.3s ease;
}
.btn-lock svg .lock {
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 36;
    transition: all 0.4s ease;
}
.btn-lock svg .lockb {
    fill: #fff;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(8deg);
    transform-origin: 14px 20px;
    transition: all 0.2s ease;
}
#inpLock {
    display: none;
}
#inpLock:checked + label {
    background: #20cca5;
}
#inpLock:checked + label svg {
    opacity: 1;
}
#inpLock:checked + label svg .bling {
    animation: bling 0.3s linear forwards;
    animation-delay: 0.2s;
}
#inpLock:checked + label svg .lock {
    stroke-dasharray: 48;
    animation: locked 0.3s linear forwards;
}
#inpLock:checked + label svg .lockb {
    transform: rotate(0);
    transform-origin: 14px 22px;
}
@-moz-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }
    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}
@-webkit-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }
    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}
@-o-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }
    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}
@keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }
    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}
@-moz-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}
@-webkit-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}
@-o-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}
@keyframes locked {
    50% {
        transform: translateY(1px);
    }
}
